luminosity 35900
output output.root
style cms

/scratch/teaguedo/workspace/files/SingleMuon.root          Data.root

/scratch/teaguedo/workspace/files/DYJetsToLL_M-50_HT-0To70.root               DY+Jets.root     5765.37995     0.924044     bg
/scratch/teaguedo/workspace/files/DYJetsToLL_M-50_HT-70To100.root             DY+Jets.root     206.470093     0.9915       bg
/scratch/teaguedo/workspace/files/DYJetsToLL_M-50_HT-100To200.root            DY+Jets.root     173.609194     0.990487     bg
/scratch/teaguedo/workspace/files/DYJetsToLL_M-50_HT-200To400.root            DY+Jets.root     48.2784319     0.988971     bg
/scratch/teaguedo/workspace/files/DYJetsToLL_M-50_HT-400To600.root            DY+Jets.root     6.68760518     0.987945     bg
/scratch/teaguedo/workspace/files/DYJetsToLL_M-50_HT-600To800.root            DY+Jets.root     1.60535503     0.986784     bg
/scratch/teaguedo/workspace/files/DYJetsToLL_M-50_HT-800To1200.root           DY+Jets.root     0.79608178     0.986784     bg
/scratch/teaguedo/workspace/files/DYJetsToLL_M-50_HT-1200To2500.root          DY+Jets.root     0.13662596     0.978527     bg
/scratch/teaguedo/workspace/files/DYJetsToLL_M-50_HT-2500ToInf.root           DY+Jets.root     0.00305288     0.969364     bg

/scratch/teaguedo/workspace/files/ST_t-channel_antitop_4f_inclusiveDecays_13TeV.root     SingleTop.root   80.95   1.00   bg
/scratch/teaguedo/workspace/files/ST_t-channel_top_4f_inclusiveDecays_13TeV.root         SingleTop.root   136.02  1.00   bg
/scratch/teaguedo/workspace/files/ST_tW_antitop_5f_inclusiveDecays_13TeV.root            SingleTop.root   35.6    1.00   bg
/scratch/teaguedo/workspace/files/ST_tW_top_5f_inclusiveDecays_13TeV.root                SingleTop.root   35.6    1.00   bg

/scratch/teaguedo/workspace/files/TT_TuneCUETP8M2T4_13TeV.root     t#bar{t}.root   831.76   1.00   bg

/scratch/teaguedo/workspace/files/WJetsToLNu_HT-0To70.root                    W+Jets.root      61526.5082      0.934426      bg
# /scratch/teaguedo/workspace/files/WJetsToLNu_HT-70To100.root                  W+Jets.root      1600.97582      0.995100      bg
# /scratch/teaguedo/workspace/files/WJetsToLNu_HT-100To200.root                 W+Jets.root      1632.5341       0.994173      bg
# /scratch/teaguedo/workspace/files/WJetsToLNu_HT-200To400.root                 W+Jets.root      436.59666       0.992936      bg
# /scratch/teaguedo/workspace/files/WJetsToLNu_HT-400To600.root                 W+Jets.root      59.3659798      0.992108      bg
# /scratch/teaguedo/workspace/files/WJetsToLNu_HT-600To800.root                 W+Jets.root      14.626049       0.991129      bg
# /scratch/teaguedo/workspace/files/WJetsToLNu_HT-800To1200.root                W+Jets.root      6.67700378      0.988808      bg
# /scratch/teaguedo/workspace/files/WJetsToLNu_HT-1200To2500.root               W+Jets.root      1.6131136       0.982755      bg
# /scratch/teaguedo/workspace/files/WJetsToLNu_HT-2500ToInf.root                W+Jets.root      0.03903516      0.972836      bg

/scratch/teaguedo/workspace/files/WW_TuneCUETP8M1_13TeV.root     VV.root   63.21           0.994260      bg
/scratch/teaguedo/workspace/files/WZ_TuneCUETP8M1_13TeV.root     VV.root   22.82           0.994260      bg
/scratch/teaguedo/workspace/files/ZZ_TuneCUETP8M1_13TeV.root     VV.root   10.32           0.994700      bg
