luminosity 35870
output     output.root
style      cms

files/22July_1b/Data.root Data.root

files/22July_1b/WW_TuneCUETP8M1_13TeV-pythia8.root    VV.root  63.21 0.994260  bg
files/22July_1b/WZ_TuneCUETP8M1_13TeV-pythia8.root    VV.root  22.82 0.994260  bg
files/22July_1b/ZZ_TuneCUETP8M1_13TeV-pythia8.root    VV.root  10.32 0.994700  bg

files/22July_1b/DYJetsToLL_M-50_HT-0To70_ext1-v2_RunIISummer16MiniAODv2.root		DY+Jets.root    4895     0.924044 bg 1.17781 
files/22July_1b/DYJetsToLL_M-50_HT-70to100_TuneCUETP8M1_13TeV-madgraphMLM-pythia8.root   DY+Jets.root    175.3    0.9915   bg 1.17781 
files/22July_1b/DYJetsToLL_M-50_HT-100To200_ext1-v1_RunIISummer16MiniAODv2.root        	DY+Jets.root    147.4    0.990994 bg 1.17781 
files/22July_1b/DYJetsToLL_M-50_HT-200To400_ext1-v1_RunIISummer16MiniAODv2.root           DY+Jets.root    40.99    0.989070 bg 1.17781 
files/22July_1b/DYJetsToLL_M-50_HT-400To600_ext1-v1_RunIISummer16MiniAODv2.root           DY+Jets.root    5.678    0.988207 bg 1.17781 
files/22July_1b/DYJetsToLL_M-50_HT-600to800_TuneCUETP8M1_13TeV-madgraphMLM-pythia8.root   DY+Jets.root    1.363    0.986784 bg 1.17781 
files/22July_1b/DYJetsToLL_M-50_HT-800to1200_TuneCUETP8M1_13TeV-madgraphMLM-pythia8.root  DY+Jets.root    0.6759   0.986784 bg 1.17781 
files/22July_1b/DYJetsToLL_M-50_HT-1200to2500_TuneCUETP8M1_13TeV-madgraphMLM-pythia8.root DY+Jets.root    0.116    0.978527 bg 1.17781 
files/22July_1b/DYJetsToLL_M-50_HT-2500toInf_TuneCUETP8M1_13TeV-madgraphMLM-pythia8.root  DY+Jets.root    0.002592 0.969364 bg 1.17781 
files/22July_1b/EWKZ2Jets_ZToLL.root                                                      DY+Jets.root    3.998    0.99066  bg
files/22July_1b/ST_t-channel_antitop_4f.root  SingleTop.root  80.95  1.0 bg
files/22July_1b/ST_t-channel_top_4f.root      SingleTop.root  136.02 1.0 bg
files/22July_1b/ST_tW_antitop_5f.root         SingleTop.root  35.6   1.0 bg
files/22July_1b/ST_tW_top_5f.root             SingleTop.root  35.6   1.0 bg

files/22July_1b/QCD_HT50to100_TuneCUETP8M1_13TeV-madgraphMLM-pythia8.root                                      QCD.root    24670000  1         bg
files/22July_1b/QCD_HT100to200_TuneCUETP8M1_13TeV-madgraphMLM-pythia8.root                                     QCD.root    27990000  1         bg
files/22July_1b/QCD_HT200to300_V1_ext1_TuneCUETP8M1_13TeV_RunIISummer16MiniAODv2_PUMoriond17_80X_mcRun2.root   QCD.root    1712000   0.996495  bg
files/22July_1b/QCD_HT300to500_V1_ext1_TuneCUETP8M1_13TeV_RunIISummer16MiniAODv2_PUMoriond17_80X_mcRun2.root   QCD.root    347700    0.99604   bg
files/22July_1b/QCD_HT500to700_V1_ext1_TuneCUETP8M1_13TeV_RunIISummer16MiniAODv2_PUMoriond17_80X_mcRun2.root   QCD.root    32100     1         bg
files/22July_1b/QCD_HT700to1000_V1_ext1_TuneCUETP8M1_13TeV_RunIISummer16MiniAODv2_PUMoriond17_80X_mcRun2.root  QCD.root    6831      0.99437   bg
files/22July_1b/QCD_HT1000to1500_V1_ext1_TuneCUETP8M1_13TeV_RunIISummer16MiniAODv2_PUMoriond17_80X_mcRun2.root QCD.root    1207      0.990903  bg
files/22July_1b/QCD_HT1500to2000_V1_ext1_TuneCUETP8M1_13TeV_RunIISummer16MiniAODv2_PUMoriond17_80X_mcRun2.root QCD.root    119.9     0.984616  bg
files/22July_1b/QCD_HT2000toInf_V1_ext1_TuneCUETP8M1_13TeV_RunIISummer16MiniAODv2_PUMoriond17_80X_mcRun2.root  QCD.root    25.24     0.978273  bg

files/22July_1b/TT_TuneCUETP8M2T4_13TeV-powheg-pythia8.root                       t#bar{t}.root   831.76    0.998616 bg 

files/22July_1b/WJetsToLNu_HT-0To70_ext2-v1_RunIISummer16MiniAODv2.root           W+jets.root  50690       0.934204 bg 1.21378
files/22July_1b/WJetsToLNu_HT-70To100_TuneCUETP8M1_13TeV-madgraphMLM-pythia8.root W+jets.root  1319        0.995100 bg 1.21378
files/22July_1b/WJetsToLNu_HT-100To200_ext2-v1_RunIISummer16MiniAODv2.root        W+jets.root  1345        0.994154 bg 1.21378
files/22July_1b/WJetsToLNu_HT-200To400_ext2-v1_RunIISummer16MiniAODv2.root        W+jets.root  359.7       0.992909 bg 1.21378
files/22July_1b/WJetsToLNu_HT-400To600_ext1-v1_RunIISummer16MiniAODv2.root        W+jets.root  48.91       0.992160 bg 1.21378
files/22July_1b/WJetsToLNu_HT-600To800_ext1-v1_RunIISummer16MiniAODv2.root        W+jets.root  12.05       0.991120 bg 1.21378 
files/22July_1b/WJetsToLNu_HT-800To1200_ext1-v1_RunIISummer16MiniAODv2.root       W+jets.root  5.501       0.989017 bg 1.21378
files/22July_1b/WJetsToLNu_HT-1200To2500_ext1-v1_RunIISummer16MiniAODv2.root      W+jets.root  1.329       0.982907 bg 1.21378
files/22July_1b/WJetsToLNu_HT-2500ToInf_ext1-v1_RunIISummer16MiniAODv2.root       W+jets.root  0.03216     0.992717 bg 1.21378
files/28July_1b_lowMt/EWKWMinus2Jets_WToLNu.root                                        W+jets.root  20.35       0.993978 bg
files/28July_1b_lowMt/EWKWPlus2Jets_WToLNu.root                                         W+jets.root  25.81       0.99402  bg

#files/LQToBTau_M-1000_BetaOne_TuneCUETP8M1_13TeV_RunIISummer16MiniAODv2_PUMoriond17_80X_mcRun2.root LQToBTau_M-1000.root  0.00586 1.0 sig 1.3
#files/LQToBTau_M-750_BetaOne_TuneCUETP8M1_13TeV_RunIISummer16MiniAODv2_PUMoriond17_80X_mcRun2.root  LQToBTau_M-750.root   0.0416  1.0 sig 1.3
#files/LQToBTau_M-900_BetaOne_TuneCUETP8M1_13TeV_RunIISummer16MiniAODv2_PUMoriond17_80X_mcRun2.root  LQToBTau_M-900.root   0.0123  1.0 sig 1.3
#files/WRToNuTauToTauTau_MW_1000_MNu_250_13TeV_RunIISummer16MiniAODv2_PUMoriond17_80X_mcRun2.root    WR_MW_1000_MNu_250.root  1.78 0.982289 sig 1.3 
#files/WRToNuTauToTauTau_MW_1000_MNu_750_13TeV_RunIISummer16MiniAODv2_PUMoriond17_80X_mcRun2.root    WR_MW_1000_MNu_750.root   1.78 0.981144 sig 1.3
#files/WRToNuTauToTauTau_MW_2500_MNu_1250_13TeV_RunIISummer16MiniAODv2_PUMoriond17_80X_mcRun2.root   WR_MW_2500_MNu_1250.root  0.022 0.973936 sig 1.3
#files/WRToNuTauToTauTau_MW_3000_MNu_1500_13TeV_RunIISummer16MiniAODv2_PUMoriond17_80X_mcRun2.root   WR_MW_3000_MNu_1500.root  0.00576 0.971610 sig 1.3
